@{
    ViewBag.Title = "Opiniometro@UCR";
}
<div class="page-header text-center">
    <h1>¡Bienvenido!</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>@Html.ActionLink("Lista de estudiantes", "Estudiantes", "TheStrategists")</h4><br />

    </div>
</div>