@model Opiniometro_WebApp.Models.Estudiante

@{
    ViewBag.Title = "Perfil";
}


<h2>Perfil</h2>

<div>
    <h3>Bienvenido @Html.DisplayFor(model => model.Persona.Nombre)</h3>

    @Html.ActionLink("Mis Datos", "Details", new { id = @Model.Cedula_Estudiante })


    <div class-="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Mis Cursos" class="btn btn-default">
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Calificar a mis profesores" class="btn btn-default">
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Mi Historial" class="btn btn-default">
        </div>

    </div>

    @Html.ActionLink("Regresar a estudiantes", "Index")
</div>
