
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<h2>Seleccione el perfil al que desea ingresar</h2>
<br />
<br />

<select name="Perfiles">
    <option>Estudiante</option>
    <option>Profesor</option>
    <option>Administrativo</option>
    <option >Administrador</option>
</select>
<button onclick="location.href='@Url.Action("Index", "Home")';return false;" type="button">Aceptar</button>

