@model IEnumerable<Opiniometro_WebApp.Models.Responde>

@{
    ViewBag.Title = "Formulario";
}

<h2>Formulario</h2>

@Html.Partial("_Collapsible")

<table class="table">

    @foreach (var item in Model) 
    {
        <tr>
            <td>
                <button class="collapsible"> @Html.DisplayFor(modelItem => item.Seccion.Titulo) </button>
                <div class="content">
                    <button class="collapsible"> @Html.DisplayFor(modelItem => item.Item.TextoPregunta) </button>
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/CollapsibleScript.js"></script>