@model Opiniometro_WebApp.Models.CrearItemModel

@{
    ViewBag.Title = "AgregarOpciones";
}

<h2>Agregar Opciones</h2>

@*
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

        </div>
    }
*@