@model Opiniometro_WebApp.Models.Item

@{
    ViewBag.Title = "Vista Previa";
}

<h2>Vista Previa</h2>





@if(Model.TipoPregunta == 3)
{
<div>
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.TextoPregunta)
        </dd>
        <dd>
            <input type="checkbox" name="Si" value='Si' disabled> Sí<br>
            <input type="checkbox" name="No" value='No' disabled> No<br>
            <input type="checkbox" name="NoSe" value='NoSe' disabled> No sé/ No respondo/ No aplica<br>
        </dd>
        @if (Model.TieneObservacion == true)
        {
            <dd>
                <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
            </dd>
        }

    </dl>
</div>    
}else{
<dl class="dl-horizontal">
    <dd>
        @Html.DisplayFor(model => model.TextoPregunta)
    </dd>

    <dd>
        <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su respuesta aquí</textarea>
    </dd>
    <br>
    @if (Model.TieneObservacion == true)
    {
        @Html.Label("Comentario Adicional")
        <dd>
            <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
        </dd>
    }
</dl>   
}

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ItemID }) |*@
    @Html.ActionLink("Volver", "Index")
</p>

