@model Opiniometro_WebApp.Models.VistaPreviaPreguntaModel

@if (Model.Item.TipoPregunta == 1)
{
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Item.TextoPregunta)
        </dd>

        <dd>
            <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su respuesta aquí</textarea>
        </dd>
    </dl>
}
@if (Model.Item.TipoPregunta == 3 || Model.Item.TipoPregunta == 2)
{
    <div>
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Item.TextoPregunta)
            </dd>
            <dd>
                <table>
                    @foreach (var option in Model.Opciones)
                    {
                        <tr>
                            @if (Model.Item.TipoPregunta == 3)
                            {
                                <td>
                                    <input type="checkbox" disabled />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="radio" disabled />
                                </td>
                            }

                            <td>
                                @Html.DisplayFor(model => option.OpcionRespuesta)
                            </td>
                        </tr>

                    }
                </table>
            </dd>
            <dd>
                @Html.DisplayFor(model => model.Item.EtiquetaObservacion)
            </dd>
            @if (Model.Item.TieneObservacion == true)
            {
                <dd>
                    <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
                </dd>
            }

        </dl>
    </div>
}