@model Opiniometro_WebApp.Models.VistaPreviaPreguntaModel

@if (Model.Item.TipoPregunta == 3)
{
    <div>
        <dl class="dl-horizontal">
            <dd>
                @Html.DisplayFor(model => model.Item.TextoPregunta)
            </dd>
            <dd>
                <table>
                    @foreach (var option in Model.Opciones)
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" disabled />
                                </td>
                                <td>
                                    @Html.DisplayFor(model => option.OpcionRespuesta)
                                </td>
                            </tr>

                          }
                </table>
            </dd>
            @if (Model.Item.TieneObservacion == true)
            {
                <dd>
                    <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
                </dd>
            }

        </dl>
    </div>
}
else
{
    <dl class="dl-horizontal">
        <dd>
            @Html.DisplayFor(model => model.Item.TextoPregunta)
        </dd>

        <dd>
            <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su respuesta aquí</textarea>
        </dd>

        @if (Model.Item.TieneObservacion == true)
        {
            @Html.Label("Comentario Adicional")
            <dd>
                <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
            </dd>
        }
    </dl>
}

