<nav class="navbar navbar-default-barra-login navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="width: 870px; overflow: hidden" text-align="center">
                <a class="navbar-brand-barra-login" href="/">
                    <img src="~/Content/firma-ucr-c.svg" width="1700">
                </a>
            </div>
        </div>
    </div>
</nav>

<br /> <br /> <br /> <br /> <br />

@if (ViewBag.Title != "Recuperar contraseña" && ViewBag.Title != "Inicio de sesión")
{
    // Si es otra pantalla que no sea recuperar contrasenna o inicio de sesion, se agregan dos espacios
    // ya que esta la barra gris.
    <br /> <br /> <br />
}