<nav class="navbar navbar-default-barra-login navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="width: 860px; overflow: hidden" text-align="center">
                <a class="navbar-brand-barra-login" href="/">
                    <img src="~/Content/firma-ucr-c.svg" width="1700">
                </a>
            </div>
        </div>
    </div>
</nav>
<br /> <br /> <br /><br /><br /><br />
