@model Opiniometro_WebApp.Models.MostrarAsignacionesEditorViewModel

<tr>
    <td align="left">
        <div align="left">
            @Html.DisplayFor(model => model.SiglaCurso)
            <span> </span>
            @Html.DisplayFor(model => model.CodigoFormulario)
        </div>
    </td>

    @Html.HiddenFor(model => model.SiglaCurso)
    @Html.HiddenFor(model => model.CodigoFormulario)
</tr>