
@model Opiniometro_WebApp.Models.FormularioPorCurso

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/FormularioDelCurso.js"></script>
</head>
<body>
    @*contadores usados para darle un id unico a los div que contiene el tipo de respuesta*@
    <script>
      var  contTextoLibre = 0;
      var contSelUnica = 0;
      var  contSiNo = 0;
      var  contSelMult = 0;
      var  contEscalar = 0;
      var contEstrella = 0;
    </script>

    <table class="table table-responsive" align="center" border="1">
        <tr id="pyr" bgcolor="#FFFFFF" align="center">
            <td><b><font color="#000000"><h3><b>Formulario</b> </h3></font></b></td>
        </tr>
        <tr bgcolor="#FFFFFF" align="left">
            <td>
                <table class="table table-responsive" border="1" >
                   <tr bgcolor="#FFFFFF" >
                        <td>

                           @foreach (var dato in Model.preguntasFormulario) {

                               if (dato.tipoPregunta == 1) { 
                               
                                   <div id="preguntaTextoLibre"> </div>


                                       <script type="text/javascript">
                                            crearElemento("campoTexto", contTextoLibre, "@dato.item" , "preguntaTextoLibre");
                                            insertNueLinea("campoTexto".concat(contTextoLibre));
                                            TextoLibre(contTextoLibre);
                                            lineaHor("campoTexto".concat(contTextoLibre));
                                            contTextoLibre++;
                                       </script>
                               }

                                if (dato.tipoPregunta == 2)
                                {
                                    <div id="preguntaSelUnica"> </div>

                                    <script>
                                        crearElemento("selUnica", contSelUnica, "@dato.item", "preguntaSelUnica");
                                        insertNueLinea("selUnica".concat(contSelUnica));
                                        seleccionUnica(contSelUnica/*,listaOpciones*/);
                                        lineaHor("selUnica".concat(contSelUnica));
                                        contSelUnica++;
                                    </script>

                                    //Campo de observacion de la opcion de seleccion unica
                                    @*if (dato.tieneObservacion == true) {
                                        <script>
                                                TextoLibre();
                                        </script>
                                    }*@
                                }

                                if (dato.tipoPregunta == 3)
                                {
                                    <div id="preguntaSiNo"> </div>

                                    <script>
                                        crearElemento("SiNo", contSiNo, "@dato.item", "preguntaSiNo");
                                        insertNueLinea("SiNo".concat(contSiNo));
                                        RespondeSiNo(contSiNo);
                                        lineaHor("SiNo".concat(contSiNo));
                                        contSiNo++;
                                    </script>

                                    //Campo de observacion de la opcion de respuesta Si-No
                                    @*if (dato.tieneObservacion == true) {
                                        <script>
                                            TextoLibre();
                                        </script>
                                    }*@
                                }

                                 @*if (dato.tipoPregunta == 4)
                                {
                                     <div id="preguntaSelMultiple"> </div>

            }*@

        if (dato.tipoPregunta == 5)
        {
            <div id="preguntaEscalar"> </div>

            <script>
                 crearElemento("Escalar", contEscalar, @Html.Raw(Json.Encode(dato.item)), "preguntaEscalar");
                 insertNueLinea("Escalar".concat(contEscalar));
                 preguntaEscalar(contEscalar);
                 lineaHor("Escalar".concat(contEscalar));
                 contEscalar++;
            </script>

        }

        @*if (dato.tipoPregunta == 6)
            {
                <div id="preguntaEstrella"> </div>

                                }*@

                             }

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    
</body>
</html>
