
@model Opiniometro_WebApp.Models.FormularioPorCurso

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <script src="~/Scripts/FormularioDelCurso.js"></script>

</head>
<body>
    @*contadores usados para darle un id unico a los div que contiene el tipo de respuesta*@
    <script>
        contTextoLibre = 0;
        contSelUnica = 0;
        contSiNo = 0;
        contSelMult = 0;
        contEscalar = 0;
        contEstrella = 0;
    </script>

    <table> <tr> <th> Preguntas <br />  </th> </tr> </table>

    @foreach (var dato in Model.preguntasFormulario)
    {
        if (dato.tipoPregunta == 1)
        {
            <div id="preguntaTextoLibre"> </div>

            <script>
                crearElemento("campoTexto", contTextoLibre, "Esta es una pregunta de T.L del formulario"/*aqui va el valor devuelto por dato.item*/, "preguntaTextoLibre");
                TextoLibre(contTextoLibre);
                contTextoLibre++;
            </script>
        }

        if (dato.tipoPregunta == 2)
        {
            <div id="preguntaSelUnica"> </div>

            <script>
                crearElemento("selUnica", contSelUnica, "Esta es una pregunta de S.U del formulario", "preguntaSelUnica");
                seleccionUnica(contSelUnica/*,listaOpciones*/);
                contSelUnica++;
            </script>

            //Campo de observacion de la opcion de seleccion unica
            @*if (dato.tieneObservacion == true) {
                    <script>
                        TextoLibre();
                    </script>
                }*@
        }

        if (dato.tipoPregunta == 3)
        {
            <div id="preguntaSiNo"> </div>

            <script>
                crearElemento("SiNo", contSiNo, "Esta es una pregunta de si/no del formulario", "preguntaSiNo");
                RespondeSiNo(contSiNo);
                contSiNo++;
            </script>

            //Campo de observacion de la opcion de respuesta Si-No
            @*if (dato.tieneObservacion == true) {
                    <script>
                        TextoLibre();
                    </script>
                }*@
        }

        @*    if (dato.tipoPregunta == 4)
            {
                 <div id="preguntaSelMultiple"> </div>

            }

            if (dato.tipoPregunta == 5)
            {
                  <div id="preguntaEscalar"> </div>

            }

            if (dato.tipoPregunta == 6)
            {
                 <div id="preguntaEstrella"> </div>

            }*@

    }

</body>
</html>
