@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <tbody>
    <tr>
        <td>
            @Html.Action("preguntasVParcial")
            @Html.Action("seccionesVParcial")
        </td>

    </tr>

    </tbody>

</thead>

