@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <tbody>
    <tr>
        <td>
            <div style="display: inline-block;">
                @Html.Action("preguntasVParcial")
            </div>
            <div style="float:left;">
                @Html.Action("seccionesVParcial")
                
            </div>
            <div style="clear: both;"></div>
        </td>

    </tr>

    </tbody>

</thead>

