@model List<Opiniometro_WebApp.Models.Conformado_Item_Sec_Form>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <tbody>
    <tr>
        <td>

            <div style="float: right; width: 500px; padding: 10px;">
                @Html.Action("preguntasVParcial")
            </div>

            <div style=" width: 500px; padding:  10px;">
                @Html.Action("seccionesVParcial")

            </div>

            <div style="float: left; width: 500px; padding: 5px;">
                @Html.Action("SeccionesAsignadas", new { CodForm = "131313"@*item.CodigoFormulario*@})
            </div>


            <div style="clear: both;"></div>    
        </td>
    </tr>
    </tbody>
</thead>









