@model List<Opiniometro_WebApp.Models.Conformado_Item_Sec_Form>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    
        <tr>
            <td>
                <div class="row">
                    Codigo: <input type="text" name="inputname" value="ABC123" readonly>
                    Nombre: <input type="text" name="inputname" value="FormularioEnfasis1" readonly>
                </div>
                
                <div>
                    <div style="float: right; width: 500px; padding: 15px;">
                        @Html.Action("preguntasVParcial")
                    </div>

                    <div style=" width: 500px; padding:  15px;">
                        @Html.Action("seccionesVParcial")
                    </div>
                </div>


                <button disabled>
                    Añadir pregunta al formulario.
                </button>

                <div style="float: left; width: 1000px; padding: 50px;">
                    @Html.Action("SeccionesAsignadas", new { CodForm = "131313"@*item.CodigoFormulario*@})
                </div>


                <div style="clear: both;"></div>
            </td>
        </tr>
    
</thead>








