@model List<Opiniometro_WebApp.Models.Conformado_Item_Sec_Form>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <tbody>
    <tr>
        <td>
            <div style="display: inline-block;">
                @Html.Action("preguntasVParcial")
            </div>
            <div style="float:left;">
                @Html.Action("seccionesVParcial")
                
            </div>
            <div style="clear: both;"></div>
        </td>

    </tr>

    </tbody>

</thead>


<table class=" table table-bordered">
    <thead>
       
    </thead>

    <tbody>
        <tr>
            <td colspan="5">
                @Html.Action("SeccionesAsignadas", new { CodForm = "131313"@*item.CodigoFormulario*@})
            </td>
           
        </tr>

    </tbody>


</table>








