@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<thead>
    <tbody>
    <tr>
        <td>
            <div style="float: left; width: 500px; padding: 10px;">
                @Html.Action("preguntasVParcial")
            </div>
            <div style = "width: 500px; padding:  10px;">
                @Html.Action("seccionesVParcial")
                
            </div="float:>
            <div style="clear: both;"></div>
        </td>

    </tr>

    </tbody>

</thead>

