@model Opiniometro_WebApp.Models.Usuario

@{
    ViewBag.Title = "Index";
}

<br />

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
<div class="container login-container" align="center">

    <div class="login-form-1">
        <h2>Opiniómetro@UCR</h2>
        <form>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Correo institucional" name="Correo" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" name="Contrasenna" />
            </div>
            <div class="form-group">
                <input type="submit" value="Acceder" name="Acceder" />
            </div>
            <div class="form-group">
                @Html.ActionLink("¿Olvidó su contraseña?", "Recuperar")
            </div>
        </form>
    </div>
</div>
}