@using Opiniometro_WebApp.Controllers.Servicios

@{
    ViewBag.Title = "Permisos";
}

<h2>Permisos</h2>

@{
    // Obtengo los permisos del correo actual.
    var permisos_usuario = (PermisosUsuario)Session[PermisosUsuario.obtener_correo_actual()];

    // Si el usuario tiene permisos en el sistema.
    if (permisos_usuario != null)
    {
        if (permisos_usuario.verificar_permiso(Permiso.CALIFICAR_CURSOS))
        {
            Html.Label("Puedo usar razor incluso");
            <b>Este html se inserta si el usuario es un estudiante que puede calificar un curso</b>
        }

        if(permisos_usuario.verificar_permiso(Permiso.ASIGNAR_FORMUALRIO))
        {
            <b>Esto es un html de un administrativo para cuando se quiere asignar un formulario</b>
        }
    }
}

