
@{
    ViewBag.Title = "Recuperar";
}

<!--Barra-->
@Html.Partial("~\\Views\\Shared\\Auth\\BarraInicio.cshtml")

<div align="center">
    <h1>Opiniómetro@UCR</h1>
    @using (Html.BeginForm("Recuperar", "Auth", FormMethod.Post))
    {
        <div class="login-container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <h3>Recuperar contraseña</h3>
                        <div class="panel-body">
                            <div>
                                <form>
                                    <div class="input-group" style="width:250px">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="CorreoInstitucional" type="email" class="form-control" placeholder="Correo institucional">
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="submit" value="Enviar Correo" name="Enviar" />
                                    </div>
                                    @Html.ValidationSummary(true, "Si los datos coinciden, le llegará un correo", htmlAttributes: new { @class = "" })
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
