<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="center_table">
                <table class="table table-hover table-responsive table-striped">
                    <thead class="thead-inverse">
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Ubicación
                            </th>
                            <th>
                                Descripción
                            </th>
                            <th>
                                Tema
                            </th>
                            <th>
                                Inicio
                            </th>
                            <th>
                                Fin
                            </th>
                            <th>
                                Edad Mínima
                            </th>
                            <th>
                                Edad Máxima
                            </th>
                            <th>
                                Plazas Totales
                            </th>
                            <th>
                                Plazas Disponibles
                            </th>
                            <th>
                                Precio
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                            <td>
                                Cell
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</body>

</html>