@model Opiniometro_WebApp.Models.AsignarPeriodoViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Your custom styles (optional) -->
@Styles.Render("~/Content/TablasHTML/FixedHeaderTable.css")
@*<link href="~/Content/filtroAsig.css" rel="stylesheet" />*@

<div>
    <h1 align="center">Cursos con Formularios Asignados</h1>
</div>

<div class="row">
    <div class="col-sm-8">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Grupos y Formularios</h3>

            </div>

            <div class="panel-body">

                @*Tabla de grupos y formularios*@

                <div style="height:40vh; overflow:auto;">
                    <table id="tabla-grupos-formularios" class="table table-sm table-hover" cellspacing="0" width="100">
                        <thead>
                            <tr>
                                <th align='left'>
                                    Grupo
                                </th>
                                <th align='left'>
                                    Formulario
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Despliega los datos de los grupos usando un template personalizado: ElegirGrupoEditorTemplate -->
                            @Html.EditorFor(model => Model.Grupos)
                            @Html.EditorFor(model => Model.Formularios)

                            @*@Html.DisplayFor(Model => Model.Formularios)*@
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>