@model Opiniometro_WebApp.Models.Seccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Seccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Titulo }) |
    @Html.ActionLink("Volver", "Index")
</p>
