@model Opiniometro_WebApp.Models.SeleccionPermisos

@{
    ViewBag.Title = "Administrar Permisos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administrar Permisos</h2>

<br />

@using (Html.BeginForm("Guardar", "SeleccionPermisos"))
{
    <table class="table">
        <tr>
            <th>@Html.Label("Perfil")</th>
            <td>@Html.DropDownList("Perfiles", ) </td>
        </tr>
    </table>

    <p align="right">
        <button class="btn btn-default" type="submit">Guardar</button>

        <!-- El boton cancelar refresca la pantalla -->
        <button class="btn btn-default" onclick="location.href='@Url.Action("SeleccionarPermisos", "SeleccionPermisos")'; return false;"> Cancelar</button>
    </p>

    <br />
    @Html.Raw(TempData["msg"])
}