@{
    ViewBag.Title = "About";
    ViewBag.Message = "Developers information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<!-- Equipo A -->
<h4>JJAPH Inventions</h4>
<p>
    Jennifer Villalobos<br />
    Jose Pablo Salas<br />
    Hernán Torres<br />
    Adrián Vargas<br />
    Jim D. Zúñiga
</p>
