@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<!--Grupo C-->
<div>
    <h4><b>The Strategists</b></h4>
    <ul>
        <li>Daniel Ramírez</li>
        <li>José Andrés Mejías</li>
        <li>Allen Ramírez</li>
        <li>Felipe Almanza</li>
        <li>Sergio Fernández</li>
        <li>Aldo Weil Hernández</li>
        <li>Sebastían Vargas Soto</li>
    </ul>
</div>
<!-- Equipo A -->
<h4><b>JJAPH Inventions</b></h4>
<ul>
    <li>Jennifer Villalobos</li>
    <li>Jose Pablo Salas</li>
    <li>Hernán Torres</li>
    <li>Adrián Vargas</li>
    <li>Jim D. Zúñiga</li>
</ul>

<h4><b>C.X. Solutions</b></h4>
<ul>
    <li>Franklin Ramírez</li>
    <li>Jean Carlos Delgado</li>
    <li>Antonio Ercolani</li>
    <li>Fitzberth Powell</li>
    <li>Isaac Tretta</li>
</ul>

<h4><b>JOFFI PROJECTS</b></h4>
<ul>
    <li>Javier Nunez </li>
    <li>Oscar Arroyo</li>
    <li>Felipe Carmona</li>
    <li>Fabian Rojas </li>
    <li>Ivania Calderon</li>
</ul>


