@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<!--Grupo C-->
<div>
    <h1>The Strategists</h1>
    <ul>
        <li>Daniel Ramírez - B45675</li>
        <li>José Andrés Mejías - B54275</li>
        <li>Allen Ramírez - B25448</li>
        <li>Felipe Almanza - B60259</li>
        <li>Sergio Fernández - B22539</li>
        <li>Aldo Weil Hernández - B47741</li>
        <li>Sebastían Vargas Soto - B47431</li>
    </ul>
</div>
