@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Grupo D*@
<p>
    C.X. Solutions:<br/>
    Franklin Ramírez<br/>
    Jean Carlos Delgado<br/>
    Antonio Ercolani<br/>
    Fitzberth Powell<br/>
    Isaac Tretta<br/>
</p>
