@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*Grupo D*@
<p>C.X. Solutions: 
    Franklin Ramírez
    Jean Carlos Delgado
    Antonio Ercolani
    Fitzberth Powell
    Isaac Tretta</p>
