@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<!--Grupo C-->
<div>
    <h4><b>The Strategists</b></h4>
    <ul>
        <li>Daniel Ramírez - B45675</li>
        <li>José Andrés Mejías - B54275</li>
        <li>Allen Ramírez - B25448</li>
        <li>Felipe Almanza - B60259</li>
        <li>Sergio Fernández - B22539</li>
        <li>Aldo Weil Hernández - B47741</li>
        <li>Sebastían Vargas Soto - B47431</li>
    </ul>
</div>
<!-- Equipo A -->
<h4>JJAPH Inventions</h4>
<p>
    Jennifer Villalobos<br />
    Jose Pablo Salas<br />
    Hernán Torres<br />
    Adrián Vargas<br />
    Jim D. Zúñiga
</p>
@*Grupo D*@
<p>
    C.X. Solutions:<br/>
    Franklin Ramírez<br/>
    Jean Carlos Delgado<br/>
    Antonio Ercolani<br/>
    Fitzberth Powell<br/>
    Isaac Tretta<br/>
</p>
