@{
    ViewBag.Title = "About";
    ViewBag.Message = "Developers information";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<h4>JJAPH Inventions</h4>
<p>
    Desarrollador 1<br />
    Desarrollador 2<br />
    Desarrollador 3<br />
    Desarrollador 4<br />
    Jim Douglas Zúñiga Porras
</p>
