@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>JOFFI PROJECTS<br />
    Javier Nunez <br/>
    Oscar Arroyo <br />
    Felipe Carmona<br />
    Fabian Rojas <br />
    Ivania Calderon<br />
    </p>
