@{
    ViewBag.Title = "Home Page";
}

<h1>Home</h1>

<body>
    <div class="container">
        <p>
            <a href="Add.csv" class="btn btn-success">Agregar archivo</a>
        </p>
    </div>
</body>