
@{
    ViewBag.Title = "Index";
}

<br />
<div>
    <h4>@Html.ActionLink("Lista de Cursos", "Index", "Curso")</h4>
</div>

<h4><a href="/TheStrategists">The Strategists</a></h4>
<div>
    <h4>@Html.ActionLink("Lista de Secciones de Formulario", "Index", "Seccion")</h4>
</div>

