@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenido</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Lista de estudiantes", "Index", "Estudiante") <br />
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>