@model Opiniometro_WebApp.Models.VistaPreviaPreguntaModel

<div>
    <dl class="col-lg-5">
        <dd>
            <table>
                @foreach (var option in Model.Opciones)
                {
                    <tr>

                        <td>
                            <input type="radio" disabled />
                        </td>

                        <td width="100%">
                            @Html.DisplayFor(model => option.OpcionRespuesta)
                        </td>
                    </tr>

                }
            </table>
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Item.EtiquetaObservacion)
        </dd>
        @if (Model.Item.TieneObservacion == true)
        {
            <dd>
                <textarea name="comentarioAdicional" rows="5" cols="40" disabled>Escriba su comentario aqui</textarea>
            </dd>
        }

    </dl>
</div>
